<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sample</title>
    <style>
        body{
            background-color: white;
        }
    </style>
</head>
<body>
    <h1>@DateTime.Now</h1>

    <ul>
        <li><a href="~/">Using action filter</a></li>
        <li><a href="~/home/api">Using the API</a></li>
        <li><a href="~/home/query?foo=1">Query</a></li>
        <li><a href="~/home/invalidateQueryCache?foo=1">Ivalidate Query</a></li>
        <li><a href="~/home/profile">Cache profile</a></li>
        <li><a href="~/home/redirect">Redirect</a></li>
        <li><a href="~/home/nocache">No cache</a></li>
    </ul>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget egestas purus viverra accumsan in nisl nisi scelerisque. Volutpat maecenas volutpat blandit aliquam. Eget arcu dictum varius duis at consectetur lorem. Purus in mollis nunc sed. Mauris in aliquam sem fringilla ut. Aenean et tortor at risus viverra adipiscing at in tellus. Lectus mauris ultrices eros in cursus turpis massa tincidunt dui. Phasellus vestibulum lorem sed risus ultricies tristique nulla. Id aliquet risus feugiat in ante. Sem viverra aliquet eget sit amet. Non sodales neque sodales ut etiam sit amet nisl purus. Nam at lectus urna duis convallis convallis. Ultrices tincidunt arcu non sodales. Elementum eu facilisis sed odio morbi. Nunc sed augue lacus viverra vitae congue eu. Et tortor at risus viverra adipiscing at in. Elementum pulvinar etiam non quam lacus suspendisse faucibus interdum. Quis lectus nulla at volutpat diam.
    Vulputate dignissim suspendisse in est ante. Lorem ipsum dolor sit amet consectetur adipiscing elit ut. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien. Malesuada bibendum arcu vitae elementum curabitur vitae nunc sed velit. Pellentesque elit eget gravida cum sociis natoque penatibus et. Quis auctor elit sed vulputate mi sit amet. Sed libero enim sed faucibus turpis in eu mi bibendum. Viverra vitae congue eu consequat. Pellentesque diam volutpat commodo sed egestas egestas fringilla. Integer eget aliquet nibh praesent tristique magna.
    Neque egestas congue quisque egestas diam in arcu cursus euismod. Nisi porta lorem mollis aliquam ut porttitor leo a diam. Sit amet massa vitae tortor. Fermentum et sollicitudin ac orci phasellus egestas. Nec ultrices dui sapien eget mi proin sed libero enim. Nulla aliquet enim tortor at auctor urna nunc id. Ipsum faucibus vitae aliquet nec ullamcorper sit amet. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. Ut sem nulla pharetra diam. Vel eros donec ac odio tempor orci. Magnis dis parturient montes nascetur ridiculus mus mauris vitae. Massa placerat duis ultricies lacus sed turpis tincidunt.
    Imperdiet sed euismod nisi porta. Nullam ac tortor vitae purus faucibus ornare suspendisse. Suscipit adipiscing bibendum est ultricies integer quis auctor elit sed. Condimentum vitae sapien pellentesque habitant morbi tristique senectus. Velit euismod in pellentesque massa placerat duis ultricies lacus sed. Varius quam quisque id diam vel quam. In eu mi bibendum neque egestas congue. Turpis tincidunt id aliquet risus feugiat in. Pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Neque gravida in fermentum et. Quis risus sed vulputate odio ut enim blandit volutpat maecenas. Lorem ipsum dolor sit amet consectetur. Consectetur purus ut faucibus pulvinar elementum integer enim.
    Ante in nibh mauris cursus mattis molestie a. Eu consequat ac felis donec et odio pellentesque. Proin sed libero enim sed. Ultricies mi quis hendrerit dolor magna eget est lorem. Viverra orci sagittis eu volutpat odio facilisis mauris sit amet. Metus vulputate eu scelerisque felis imperdiet proin fermentum. Id nibh tortor id aliquet lectus proin nibh. A lacus vestibulum sed arcu non odio. Id velit ut tortor pretium viverra. Amet dictum sit amet justo donec enim diam vulputate. Purus non enim praesent elementum facilisis leo. Viverra justo nec ultrices dui sapien. Mauris ultrices eros in cursus turpis massa tincidunt dui.
</body>
</html>