<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sample</title>
    <style>
        body{
            background-color: dodgerblue;
        }
    </style>
</head>
<body>
    <h1>@DateTime.Now</h1>

    <ul>
        <li><a href="~/">Using action filter</a></li>
        <li><a href="~/home/api">Using the API</a></li>
        <li><a href="~/home/query?foo=1">Query</a></li>
        <li><a href="~/home/profile">Cache profile</a></li>
    </ul>
</body>
</html>